@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playwrite+AU+TAS:wght@100..400&display=swap');

:root{
    --dark-gray: #22242a;
    --dark-blue: #040455;
    --orange: #ff9800;
    --light-blue: #4a4af3;
    --light-orange: #fee6c4;
    --text-shadow: 2px 3px 0px #040455, -2.5px -2.5px 0px #4a4af3;
    --box-shadow: -2px -2px 3px 2px #4a4af3, 3px 3px 8px 2px #040455;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--dark-gray);
    font-family: "Arimo", sans-serif;
    background-image: radial-gradient(circle at 80% 0%, hsla(44, 100%, 25%, 1) 0%, transparent 50%), radial-gradient(circle at 94% 107%, hsl(204deg 84.16% 15.32%) 0%, transparent 50%), radial-gradient(circle at -50% 135%, #3b231b 20%, transparent 50%), url(/assets/inspo.jpg);
    background-blend-mode: normal, normal;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 23vh;
}

h1{
    color: var(--light-orange);
    text-align: center;
    font-family: "Playwrite AU TAS", cursive;
    text-shadow: var(--text-shadow);
}

figure{
    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px -4px 0px var(--light-blue));
}

img{
    width: 100px;
    transform: rotate(187deg);
    filter: drop-shadow(0px -6px 2px var(--dark-blue));
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.section__input__buttons{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fffefb36;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(18px);
    --webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid #03A9F4;
    padding: 20px 0px;
}

.input__text{
    display: flex;
    justify-content: center;
}

.input__text input{
    width: 80%;
    height: 20vh;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    box-shadow: var(--box-shadow);
    background-color: #081f2e;
    font-family: "Arimo", sans-serif;
    color: var(--light-orange);
    font-weight: bolder;
}

.input__text input::placeholder {
    font-size: 1.2em;
}

.icon__p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 5px;
}

.icon__p p{
    width: 75%;
    color: var(--light-orange);
    text-shadow: -2px 1px 2px black, 1px 2px 1px var(--dark-blue), 1px -1px 3px var(--light-blue);
    filter: drop-shadow(1px 2px 1px var(--dark-blue));
}

i{
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color:  var(--light-orange);
    width: 17px;
    border-radius: 10px;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    width: 80%;
    padding: 15px 0px;
    border-radius: 11px;
    background: #081f2e;
    font-weight: bold;
    font-family: "Arimo", sans-serif;
    border-width: inherit;
    border: 1px solid #03A9F4;
    color: var(--light-orange);
}

button:hover{
    color: #081f2e;
    background-color: var(--orange);
    border: 1px solid #081f2e;
}

.cat{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 99.8%;
    height: 99.5vh;
    top: 0;
    background: rgb(8 31 46 / 81%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
}

.cat div {
    width: 70%;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.cat button{
    width: 30px;
    border: 0;
    background: unset;
}

.cat button:hover{
    color: #081f2e;
    background-color: unset;
    border: unset;
}

.cat i{
    background-color: unset;
    font-size: 1.7rem;
}

.cat i:hover{
    color: var(--orange);
}

.cat img{
    transform: unset;
    filter: unset;
    width: 200px;
}

.cat p{
    padding: 5px;
    text-align: center;
    color: red;
    font-size: 2rem;
    text-shadow: 1px 2px 2px black;
    font-family: "Arimo", sans-serif;
}

.section__p{
    width: 90%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background: rgb(255 254 251 / 21%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    --webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid #03A9F4;
    padding: 20px 0px;
}

.container__figure__p{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #081f2e;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    padding: 15px;
    box-sizing: border-box;
}

.section__p figure{
    filter: none;
}

.section__p figure img{
    transform: none;
    filter: none;
    width: 218px;
}

.section__p p{
    text-align: center;
    color: var(--light-orange);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__footer__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 20px;
    padding: 15px 0px;
}

footer p{
    padding: 8px;
    color: var(--light-orange);
    font-size: 0.8rem;
}

.container__footer__div div{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
}

.container__footer__div div a{
    text-decoration: none;
}

.container__footer__div div i{
    font-size: 1.5rem;
    color: var(--orange);
    background-color: unset;
}

.container__footer__div div i:hover{
    color: #03A9F4;
}

@media (min-width: 768px){

    main{
        gap: 50px;
    }

    .icon__p__button {
        gap: 45px;
    }

    .container__footer__div {
        width: 25%;
    }

    .buttons{
        display: flex;
        flex-direction: unset;
        gap: 10%;
    }

    button{
        width: 35%;
    }

    .cat div {
        width: 60%;
    }

    footer{
        margin-top: 45px;
    }
}

@media (min-width: 1024px){

    main{
        display: flex;
        flex-direction: unset;
        justify-content: space-around;
    }

    .input__text input {
        height: 40vh;
    }

    .section__input__buttons {
        width: 40% !important;
    }

    .section__p {
        margin-top: 0px;
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .container__figure__p {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cat div {
        width: 50%;
    }
}